/* App.css */
:root {
  --primary: #E30613; /* Rojo corporativo */
  --dark: #1a1a1a;
  --light: #ffffff;
}



body {
  font-family: 'Arial', sans-serif;
}

.container-app {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
}

